// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Raleway:regular,500,600,700&display=swap);

// Подключить если есть локальные файлы шрифтов
// @import "fonts/fonts";

// Парамерты по умолчанию ==============================================================================================================================================================================================================================================================================
// Шрифт и размер
$fontFamily: "Raleway", sans-serif;
$fontSize: 16px;

// Основные цвета
:root {
	--bg-color: #fff;
	--font-color: #313131;
	--title-color: #313131;
	--text-color: #828282;
	--primary-color: #b2f828;
	--second-color: #92d808;
}

// Минимальная ширина страницы
$minWidth: 320px;
// Ширина макета
$maxWidth: 1920px;

// Брейк-поинты
$pc: 1169.98px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================================================================================================================================================================================================================
@import "base/_null";

html {
	// Скролл заблокирован
	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}

body {
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	@media (min-width: 991.98px) {
		--line-width: 60px;
		padding-left: var(--line-width);
		&::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: var(--line-width);
			height: 100vh;
			background: #202020;
			z-index: -10;
		}

		@media (max-width: 1439.98px) {
			--line-width: 40px;
		}
	}

	@media (max-width: 991.98px) {
		overflow: hidden;
	}

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
		position: relative;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================
[class*="__container"] {
	margin: 0 auto;
	width: 100%;

	// Ширина ограничивающего контейнера (ширина контейнера по макету + раддинги)
	$paddingContainer: 36px;
	$maxWidthContainer: calc(1630px + ($paddingContainer * 2));

	max-width: $maxWidthContainer;
	padding-left: $paddingContainer;
	padding-right: $paddingContainer;

	@media (max-width: 991.98px) {
		$paddingContainer: 36px;
		$maxWidthContainer: calc(768px + ($paddingContainer * 2));

		padding-left: $paddingContainer;
		padding-right: $paddingContainer;
		max-width: $maxWidthContainer;
	}

	@media (max-width: 767.98px) {
		$paddingContainer: 16px;
		$maxWidthContainer: calc(343px + ($paddingContainer * 2));

		padding-left: $paddingContainer;
		padding-right: $paddingContainer;
		max-width: $maxWidthContainer;
	}
}

// Вспомогательные классы ======================================================================================================================================================================================================================
.dont-break-out {
	// Технически это одно и то же, но используйте и то, и другое
	overflow-wrap: break-word;
	word-wrap: break-word;
	// Это самое опасное в WebKit, так как оно ломает вещи везде, где бы они ни были
	word-break: break-all;
	// Вместо этого используйте этот нестандартный:
	word-break: break-word;
	// Добавляет дефис там, где слово ломается, если поддерживается
	hyphens: auto;
}

// Подключение стилей отдельных элементов ======================================================================================================================================================================================================================
@import "./base/_common";
@import "./base/_swiper";
@import "./_rs-header";
@import "./_rs-footer";
@import "./blocks/_rs-banner";
@import "./blocks/_rs-services";
@import "./blocks/_rs-features";
@import "./blocks/_rs-form";
